<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Logout</title>
	<link rel="stylesheet" href="css/login.css">
</head>
<script>
document.cookie = "uid=; max-age=0";
document.cookie = "food_item_id=; max-age=0";
location.href = "./login.html";
</script>
<body>

</body>
</html>